In [1]:
import requests
import zipfile
import xml.etree.ElementTree as ET
import pandas as pd

## OASIS API Call Test

Docmentation is [here](http://www.caiso.com/Documents/OASIS-InterfaceSpecification_v5_1_1Clean_Fall2017Release.pdf). 

Note that the examples in the document use 2013 dates, but this may be too far in the past to work. Substituting it with 2021 worked for me.

In [45]:
#test url 
url = "http://oasis.caiso.com/oasisapi/SingleZip?queryname=PRC_LMP&startdatetime=20210901T07:00-0000&enddatetime=20210930T07:00-0000&version=1&market_run_id=DAM&node=DLAP_PGAE-APND"

In [46]:
test_request = requests.get(url)

In [47]:
test_request.headers['Content-Disposition']

'inline; filename=20210901_20210930_PRC_LMP_DAM_20211010_16_02_32_v1.zip;'

In [62]:
test_request.headers

{'Date': 'Sun, 10 Oct 2021 23:02:38 GMT', 'Server': 'Apache', 'Content-Disposition': 'inline; filename=20210901_20210930_PRC_LMP_DAM_20211010_16_02_32_v1.zip;', 'Content-Type': 'application/x-zip-compressed', 'Keep-Alive': 'timeout=15, max=100', 'Connection': 'Keep-Alive', 'Transfer-Encoding': 'chunked'}

In [48]:
#extract zip file
with open('trythis.zip', 'wb') as code:
    code.write(test_request.content)

In [49]:
with zipfile.ZipFile('trythis.zip', 'r') as zip_ref:
    zip_ref.extractall('data')

## Explore XML Data to convert to Pandas Dataframe

In [50]:
xml_data = ET.parse('data/20210901_20210930_PRC_LMP_DAM_20211010_16_02_32_v1.xml')

In [51]:
root = xml_data.getroot()

In [52]:
print(root.tag)

{http://www.caiso.com/soa/OASISReport_v1.xsd}OASISReport

In [53]:
root.attrib

{}

In [54]:
for child in root:
    print(child.tag, child.attrib)

{http://www.caiso.com/soa/OASISReport_v1.xsd}MessageHeader {}
{http://www.caiso.com/soa/OASISReport_v1.xsd}MessagePayload {}

In [56]:
[elem.tag for elem in root.iter()][:30]

['{http://www.caiso.com/soa/OASISReport_v1.xsd}OASISReport',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}MessageHeader',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}TimeDate',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}Source',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}Version',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}MessagePayload',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}RTO',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}name',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}REPORT_ITEM',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}REPORT_HEADER',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}SYSTEM',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}TZ',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}REPORT',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}MKT_TYPE',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}UOM',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}INTERVAL',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}SEC_PER_INTERVAL',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}REPORT_DATA',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}DATA_ITEM',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}RESOURCE_NAME',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}OPR_DATE',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}INTERVAL_NUM',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}INTERVAL_START_GMT',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}INTERVAL_END_GMT',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}VALUE',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}REPORT_DATA',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}DATA_ITEM',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}RESOURCE_NAME',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}OPR_DATE',
 '{http://www.caiso.com/soa/OASISReport_v1.xsd}INTERVAL_NUM']

In [57]:
values = [repdata.text for repdata in root.iter('{http://www.caiso.com/soa/OASISReport_v1.xsd}VALUE')]
interval_start = [repdata.text for repdata in root.iter('{http://www.caiso.com/soa/OASISReport_v1.xsd}INTERVAL_START_GMT')]
interval_end = [repdata.text for repdata in root.iter('{http://www.caiso.com/soa/OASISReport_v1.xsd}INTERVAL_END_GMT')]
interval_num = [repdata.text for repdata in root.iter('{http://www.caiso.com/soa/OASISReport_v1.xsd}INTERVAL_NUM')]
opr_date = [repdata.text for repdata in root.iter('{http://www.caiso.com/soa/OASISReport_v1.xsd}OPR_DATE')]
resource_name = [repdata.text for repdata in root.iter('{http://www.caiso.com/soa/OASISReport_v1.xsd}RESOURCE_NAME')]

In [58]:
test_df = pd.DataFrame({'opr_date': opr_date,
                        'interval_start': interval_start,
                        'interval_end': interval_end, 
                        'interval_num': interval_num,
                        'resource_name': resource_name,
                        'value': values})

In [59]:
test_df.head()

,opr_date,interval_start,interval_end,interval_num,resource_name,value
0,2021-09-01,2021-09-01T21:00:00-00:00,2021-09-01T22:00:00-00:00,15,DLAP_PGAE-APND,46.66336
1,2021-09-01,2021-09-01T17:00:00-00:00,2021-09-01T18:00:00-00:00,11,DLAP_PGAE-APND,43.89146
2,2021-09-01,2021-09-02T02:00:00-00:00,2021-09-02T03:00:00-00:00,20,DLAP_PGAE-APND,83.89462
3,2021-09-01,2021-09-02T00:00:00-00:00,2021-09-02T01:00:00-00:00,18,DLAP_PGAE-APND,59.40694
4,2021-09-01,2021-09-01T16:00:00-00:00,2021-09-01T17:00:00-00:00,10,DLAP_PGAE-APND,46.01979

In [61]:
test_df.tail()

,opr_date,interval_start,interval_end,interval_num,resource_name,value
3475,2021-09-29,2021-09-29T19:00:00-00:00,2021-09-29T20:00:00-00:00,13,DLAP_PGAE-APND,0
3476,2021-09-29,2021-09-29T21:00:00-00:00,2021-09-29T22:00:00-00:00,15,DLAP_PGAE-APND,0
3477,2021-09-29,2021-09-30T04:00:00-00:00,2021-09-30T05:00:00-00:00,22,DLAP_PGAE-APND,0
3478,2021-09-29,2021-09-29T08:00:00-00:00,2021-09-29T09:00:00-00:00,2,DLAP_PGAE-APND,0
3479,2021-09-29,2021-09-29T12:00:00-00:00,2021-09-29T13:00:00-00:00,6,DLAP_PGAE-APND,0

In [60]:
test_df.shape

(3480, 6)

## Testing Helper Functions

In [2]:
import src.oasis_api as oa

In [3]:
oa.test_func(2)

6

In [4]:
test_pge = oa.get_LMP('20211001', '20211010')

In [5]:
test_pge.head()

,opr_date,interval_start,interval_end,interval_num,resource_name,value
0,2021-10-01,2021-10-01 20:00:00+00:00,2021-10-01 21:00:00+00:00,14,DLAP_PGAE-APND,57.76960
1,2021-10-01,2021-10-01 14:00:00+00:00,2021-10-01 15:00:00+00:00,8,DLAP_PGAE-APND,67.80328
2,2021-10-01,2021-10-01 15:00:00+00:00,2021-10-01 16:00:00+00:00,9,DLAP_PGAE-APND,57.92543
3,2021-10-01,2021-10-02 05:00:00+00:00,2021-10-02 06:00:00+00:00,23,DLAP_PGAE-APND,69.23884
4,2021-10-01,2021-10-01 12:00:00+00:00,2021-10-01 13:00:00+00:00,6,DLAP_PGAE-APND,62.04607

In [6]:
test_pge.dtypes

opr_date               datetime64[ns]
interval_start    datetime64[ns, UTC]
interval_end      datetime64[ns, UTC]
interval_num                    int64
resource_name                  object
value                         float64
dtype: object

## Try importing to MySQL Database

- Reference Resource: http://andrewtrick.com/auto_etl_pipeline.html

In [8]:
import mysql.connector

In [10]:
#connect to database
cnx = mysql.connector.connect(user='mia', password = 'amount-petunia-mainsail-HAYRICK',
                      host = 'MacBook-Pro-2.local',
                      database =  'caiso_data',
                      auth_plugin = 'mysql_native_password')

cursor = cnx.cursor()

In [23]:
add_query = ("INSERT INTO lmp"
             "(interval_start, interval_end, interval_num, resource_name, value)"
             "VALUES (%s, %s, %s, %s, %s)")

data = test_pge[['interval_start', 'interval_end', 'interval_num', 
                'resource_name', 'value']].values.tolist()

test_data = data[:5]

print(test_data)

[[Timestamp('2021-10-01 20:00:00+0000', tz='UTC'), Timestamp('2021-10-01 21:00:00+0000', tz='UTC'), 14, 'DLAP_PGAE-APND', 57.7696], [Timestamp('2021-10-01 14:00:00+0000', tz='UTC'), Timestamp('2021-10-01 15:00:00+0000', tz='UTC'), 8, 'DLAP_PGAE-APND', 67.80328], [Timestamp('2021-10-01 15:00:00+0000', tz='UTC'), Timestamp('2021-10-01 16:00:00+0000', tz='UTC'), 9, 'DLAP_PGAE-APND', 57.92543], [Timestamp('2021-10-02 05:00:00+0000', tz='UTC'), Timestamp('2021-10-02 06:00:00+0000', tz='UTC'), 23, 'DLAP_PGAE-APND', 69.23884], [Timestamp('2021-10-01 12:00:00+0000', tz='UTC'), Timestamp('2021-10-01 13:00:00+0000', tz='UTC'), 6, 'DLAP_PGAE-APND', 62.04607]]

In [24]:
cursor.executemany(add_query, test_data[:2])

In [25]:
cnx.commit()

In [26]:
test_pge.shape

(1080, 6)

In [28]:
for i in range(0, 10, 100): 
    print(i)

0

### Try helper function to import into MySQL Database

In [11]:
oa.import_to_mysql(test_pge, 'mia', password = 'amount-petunia-mainsail-HAYRICK',
                      host = 'MacBook-Pro-2.local',
                      database =  'caiso_data')

Loading into SQL 1000 rows at a time...
0/1080
1000/1080

- Note: I had to update user priveleges to unlimited queries, updates and connections by putting in 0's to each entry.